GCP_PROJECT_ID=your-gcp-project
BQ_DATASET=marketing_demo
# Set this to the path of the JSON service account file on your host machine.
GOOGLE_APPLICATION_CREDENTIALS=C:\Projects\mini_attribution_engine\thub-10b72-f33d90a0835c.json
API_BASE_URL=http://localhost:8000
