.env
__pycache__/
*.py[cod]
.venv/
node_modules/
dist/
.airflow/
thub-10b72-f33d90a0835c.json
*.log
SIDENOTES.md
# Google Cloud credentials
gcp/
service-account.json
*.key.json
*.json

temp_creds.txt
airflow/airflow.db
